.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/images/hero-bg.png');

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: #fff;
  margin-bottom: 80px;
}

.hero-text h1 {
  margin-bottom: 50px;
  font-size: 36px;
}

.hero-text p {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .hero-image {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
