.reviews-page {
}

.reviews-page header {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.reviews-page header h1 {
  font-size: 32px;
  margin-right: 15px;
}

.reviews-page header p {
  color: #4d4d4d;
  font-weight: 500;
}

.reviews-page header p span {
  font-weight: 600;
  text-decoration: underline;
}

.overall-rating {
  display: flex;
  align-items: center;
}

.overall-rating h1,
.overall-rating svg {
  margin-right: 10px;
}

.overall-rating h1 {
  font-size: 32px;
}

.overall-rating p {
  font-weight: 500;
}

.client-reviews h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.review {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 20px;
}

.review .stars {
  margin-bottom: 10px;
}

.review .stars svg {
  margin-right: 5px;
}

.review .review-date {
  font-weight: 500;
  margin-bottom: 10px;
}

.review .review-date span {
  color: #8c8c8c;
}

.review .review-text {
  font-weight: 500;
  margin-bottom: 20px;
}

.chart-review {
  min-height: 215px;
  margin-top: 20px;
}

.chart-review .chart-review-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #4d4d4d;
  font-weight: 500;
}

.chart-review .chart-review-line .number-stars {
  width: 100%;
  max-width: 60px;
}

.chart-review .chart-review-line .progress-bar {
  flex: 1;
  margin: 0px 15px;
  background-color: #b9b9b9;
  height: 5px;
  border-radius: 5px;
}

.chart-review .chart-review-line .progress-bar .fill-progress-bar {
  background-color: #FF8C38;
  height: 5px;
  border-radius: 5px;
}

.chart-review .chart-review-line .percentage {
  width: 100%;
  max-width: 60px;
  text-align: right;
}

.border {
  border: 1px solid #000;
}
