.income-page {
  padding-top: 0px;
}

.income-header {
  margin-bottom: 50px;
}

.income-header h1 {
  font-size: 36px;
  line-height: 22px;
}

.income-header p,
.income-header span {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #4d4d4d;
}

.income-header p {
  margin: 32px 0px 26px 0px;
}

.income-header span {
  font-weight: 600;
  text-decoration: underline;
}

.income-header h1 {
  font-size: 48px;
  line-height: 38px;
  font-weight: 700;
}

.chart {
  height: 350px;
}

.transactions {
  margin-top: 50px;
}

.transactions .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactions .title h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
}

.transactions .title p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #4d4d4d;
}

.transactions .title p span {
  font-weight: 600;
  text-decoration: underline;
}

.transaction-list .transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 22px;
}
