.my-van-photos {
  display: flex;
  align-items: center;
}

.my-van-photos .images {
  margin-right: 10px;
}

.my-van-photos .images img {
  width: 100%;
  max-width: 80px;
  border-radius: 6px;
}

.my-van-photos .images:last-child {
  margin-right: 0px;
}
