:root {
  --main-background: #fff7ed;

  --nav-link: #4d4d4d;

  --primary-btn-bg: #ff8c38;
  --primary-btn-text: #fff;
  --secondary-btn-bg: #161616;
  --secondary-btn-text: #fff;

  --text-primary: #161616;

  --header-height: 110px;
  --footer-height: 75px;

  --max-width-app: 960px;

  --van-type-text: #ffead0;
  --van-type-default-text: #4d4d4d;
  --van-type-default-bg: #ffead0;
  --van-type-simple-bg: #e17654;
  --van-type-luxury-bg: #161616;
  --van-type-rugged-bg: #115e59;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background: var(--main-background);
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-primary);
}

button {
  cursor: pointer;
}

nav {
  display: flex;
}

nav a {
  color: var(--nav-link);
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  margin-right: 15px;
  transition: filter 0.2s;
}

nav a:last-child {
  margin-right: 0px;
}

nav a:hover,
nav a.active {
  filter: brightness(0.1);
  text-decoration: underline;
}

input[type='text'],
input[type='password'] {
  height: 50px;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  margin: 10px 0px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  color: #4d4d4d;
}

.form-group .input-error {
  border-color: red;
}

.form-group .input-error-message {
  color: red;
  font-size: 14px;
  margin-left: 10px;
}

.container {
  width: 100%;
  max-width: var(--max-width-app);
  margin: 0 auto;
  padding: 20px;
}

.container-min-height {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.btn {
  width: 100%;
  border: 0px;
  height: 50px;
  border-radius: 5px;
  transition: filter 0.2s;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn-primary {
  background-color: var(--primary-btn-bg);
  color: var(--primary-btn-text);
}

.btn-secondary {
  background-color: var(--secondary-btn-bg);
  color: var(--primary-btn-text);
}
